<div class="landingpage-card">
    <div class="card-header">
        <div class="card-header-actions">
            <button class="btn btn-neutral btn-circle" (click)="navigateToStart.emit()">
                <i-lucide [img]="X" class="lucide-icon"></i-lucide>
            </button>
        </div>
        <div class="card-title">
            <h2>Zplitter’s back!</h2>
            <div class="card-subtitle">
                <span>Log in and pick up where you left off.</span>
            </div>
        </div>
    </div>
    <form (ngSubmit)="logIn()" [formGroup]="logInForm">
        <div class="form-group">
            <div class="input-field">
                <input type="email" id="email" name="email" [placeholder]="'email@example.com'" autocomplete="email"
                    formControlName="email" required>
                <i-lucide [img]="Mail" [strokeWidth]="1.75" class="lucide-icon"></i-lucide>
            </div>
            <span [class.visible]="logInForm.get('email')?.invalid && logInForm.get('email')?.touched"
                class="validation-error">
                *Please enter a valid e-mail address.
            </span>
        </div>
        <div class="form-group">
            <div class="input-field">
                <input type="password" id="password" name="password" [placeholder]="'Password'"
                    formControlName="password" required>
                <i-lucide [img]="Lock" [strokeWidth]="1.75" class="lucide-icon"></i-lucide>
            </div>
            <span [class.visible]="(logInForm.get('password')?.invalid && logInForm.get('password')?.touched) || errorMessage"
                class="validation-error">
                {{ errorMessage ? errorMessage : '*Password must contain at least 8 characters.' }}
            </span>
        </div>
        <div class="form-control">
            <button class="btn btn-primary btn-wide" type="submit">Jump In</button>
            <div class="divider">
                <div class="divider-line"></div>
                <span>OR</span>
                <div class="divider-line"></div>
            </div>
            <button (click)="signInWithGoogle()" class="btn btn-neutral btn-wide">
                Continue with Google
            </button>
        </div>
    </form>
</div>
<div class="form-footer">
    <span>New to Zplit?</span>
    <span class="form-link" (click)="navigateToSignup.emit()">Sign Up</span>
</div>