.landingpage-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 25rem;
    padding: 1.25rem;
    border: 1.5px solid var(--border-base);
    border-radius: 1.5rem;
    text-align: center;
    background-color: var(--col-backdrop);
}

.card-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
}

.card-header-actions {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.card-title {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    align-items: center;

    h2 {
        font-size: 2rem;
        font-weight: 700;
        color: var(--text-primary);
        text-wrap: balance;
    }
}

.card-subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
        font-size: 1rem;
        text-align: center;
        text-wrap: balance;
    }
}

.divider {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.divider-line {
    width: 100%;
    height: 1.5px;
    border-radius: 1.5px;
    background-color: var(--border-base);
}

.form-footer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    backdrop-filter: blur(0.125rem);
}

.form-link {
    cursor: pointer;
    font-weight: 600;
    color: var(--text-primary);
    transition: color 200ms ease-in-out;

    &:hover {
        text-decoration: underline 2px solid var(--col-primary);
    }
}

.validation-error {
    width: max-content;
    margin-left: 0.25rem;
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--col-error);
    opacity: 0;
    transition: opacity 200ms ease;

    &.visible {
        opacity: 1;
    }
}

.checkbox-error {
    border-color: var(--col-error);
    color: var(--col-error);
}