form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.form-control {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    align-items: flex-start;
    width: 100%;
}

.from-group-checkbox {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    width: 100%;
    margin: 0.75rem 0.25rem;

    label {
        cursor: pointer;
        font-size: 1rem;
        font-weight: 400;
        color: var(--text-muted);

        a {
            font-weight: 500;
            color: var(--text-primary);
            text-decoration: none;
        }
    }
}

.input-field {
    position: relative;
    display: flex;
    align-items: stretch;
    width: 100%;

    svg {
        position: absolute;
        top: 50%;
        left: 1rem;
        transform: translateY(-50%);
        width: 1.25rem;
        height: 1.25rem;
        color: var(--text-placeholder);
    }
}

.input-field:has(input[type="text"]:focus-visible) svg,
.input-field:has(input[type="number"]:focus-visible) svg,
.input-field:has(input[type="email"]:focus-visible) svg,
.input-field:has(input[type="password"]:focus-visible) svg {
    color: var(--text-secondary);
    transition: none;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"] {
    position: relative;
    width: 100%;
    height: 2.75rem;
    padding: 0.25rem 1rem;
    padding-left: 3rem;
    border: 1.5px solid var(--border-base);
    border-radius: 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: var(--text-primary);
    background-color: var(--bg-base-100);
    caret-color: var(--text-secondary);
}

input[type="text"]::placeholder,
input[type="number"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder {
    font-size: 1rem;
    font-weight: 300;
    color: var(--text-placeholder);
    transition: 250ms ease;
}

input[type="text"]:focus-visible,
input[type="number"]:focus-visible,
input[type="email"]:focus-visible,
input[type="password"]:focus-visible {
    border: 1.5px solid var(--text-secondary);
    outline: none;
}

input[type="checkbox"] {
    cursor: pointer;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    border: 1.5px solid var(--border-base);
    border-radius: 4px;
    appearance: none;

    &:hover {
        border-color: var(--text-secondary);
    }
}

input[type="checkbox"]:checked {
    border-color: var(--text-secondary);
    background-color: var(--text-secondary);
}

input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 5px;
    transform: rotate(45deg);
    width: 4px;
    height: 9px;
    border: solid var(--bg-base-100);
    border-width: 0 2px 2px 0;
}