@use "./variables";

*::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: var(--scrollbar-thumb);
}

*::-webkit-scrollbar-corner {
    background: var(--bg-base-200);
}

* {
    scrollbar-color: var(--scrollbar-thumb) var(--bg-base-200);
    scrollbar-width: thin;
}