:root {
    // background colors
    --bg-base-000: #fff;
    --bg-base-100: #f9fafb;
    --bg-base-200: #f3f4f6;
    --bg-base-300: #e5e7eb;

    // theme colors
    --col-primary: #f6f100;
    --col-secondary: #;
    --col-accent: #;
    --col-neutral: #e5e7eb;
    --col-muted: #475569;
    --col-backdrop: #fffc;

    // status colors
    --col-success: #6ee7b7;
    --col-warning: #fcd34d;
    --col-error: #e11d48;

    // text colors
    --text-primary: #111827;
    --text-secondary: #374151;
    --text-muted: #6b7280;
    --text-inverse: #fff;
    --text-placeholder: #9ca3af;

    // border colors
    --border-base: #e5e7eb;
    --scrollbar-thumb: #9ca3af;

}