:root {
    // background colors
    --bg-base-100: #fff;
    --bg-base-200: #f4f4f5;
    --bg-base-300: #e4e4e7;

    // theme colors
    --col-primary: #beff66;
    --col-secondary: #;
    --col-accent: #;
    --col-neutral: #3f3f46;
    --col-muted: #52525b;
    --col-backdrop: #fffc;

    // status colors
    --col-success: #6ee7b7;
    --col-warning: #fcd34d;
    --col-error: #fda4af;

    // text colors
    --text-primary: #18181b;
    --text-secondary: #3f3f46;
    --text-muted: #52525b;
    --text-inverse: #fff;

    // border colors
    --border-base: #e4e4e7;

}