.empty-state-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.empty-state-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.25rem;
    border-radius: 1.25rem;
    background-color: var(--bg-base-300);

    >.lucide-icon-xl {
        display: inline-block;
        width: 3rem;
        height: 3rem;
        color: var(--text-secondary);
    }

    >.lucide-icon-xl ::ng-deep svg {
        display: block;
        width: 100% !important;
        height: 100% !important;
        fill: none;
        stroke: currentcolor;
        stroke-width: 1.5;
    }
}

.lucide-icon {
    width: 1.25rem;
    height: 1.25rem;
}

article {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    text-align: center;

    h2 {
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--text-primary);
    }

    span {
        font-size: 1rem;
        color: var(--text-muted);
    }
}