.workspace-wrapper {
    display: flex;
    width: 100%;
    max-width: 90rem;
    min-height: 100dvh;
}

.workspace-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 90rem;
}

.drawer {
    position: fixed;
    z-index: 25;
    inset: 0;
    background: rgb(0 0 0 / 10%);
    backdrop-filter: blur(2px);
}