.workspace-wrapper {
    display: flex;
    gap: 2rem;
    width: 100%;
    max-width: 90rem;
    min-height: 100dvh;
}

.workspace-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 90rem;
    background-color: var(--bg-base-000);

    main {
        display: flex;
        flex-grow: 1;
        padding: 2rem;
        border: 1px solid var(--border-base);
        border-radius: 1rem;
        background-color: var(--bg-base-100);
        background-image: radial-gradient(var(--bg-base-300) 1.25px, transparent 1.25px);
        background-size: 1.25rem 1.25rem;
    }
}

.drawer {
    position: fixed;
    z-index: 25;
    inset: 0;
    background: rgb(0 0 0 / 10%);
    backdrop-filter: blur(2px);
}