.workspace-wrapper {
    display: flex;
    width: 100%;
    max-width: 90rem;
    min-height: 100dvh;
}

.workspace-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 90rem;
    background-color: var(--bg-base-000);

    main {
        display: flex;
        flex-grow: 1;
        margin: 1rem;
        border: 1px solid var(--border-base);
        border-radius: 1rem;
        background-color: var(--bg-base-100);
    }
}

.drawer {
    position: fixed;
    z-index: 25;
    inset: 0;
    background: rgb(0 0 0 / 10%);
    backdrop-filter: blur(2px);
}