<div class="workspace-wrapper">
    <app-sidebar [open]="(sidebarOpen$ | async) ?? false" />

    <ng-container>
        @if (((sidebarOpen$ | async) ?? false) && ((isMobile$ | async) ?? false)) {
        <div class="drawer" (click)="toggleSidebar()"></div>
        }
    </ng-container>

    <div class="workspace-content">
        <app-toolbar (toggle)="toggleSidebar()" />
        <main>
            <router-outlet>

            </router-outlet>
        </main>
    </div>
</div>
<app-modal-new-zplit />