<div class="landingpage-card">
    <h1 class="title">Zplit turns confusing group expenses into simple splits.</h1>
    <span>
        Whether you’re splitting bills with friends, managing shared expenses with family or organizing group
        trips, Zplit makes it easy to track who owes what and settle up quickly.
    </span>
    <div class="cta-buttons">
        <button class="btn btn-primary" (click)="getStarted.emit()">Get Started</button>
        <button class="btn btn-outline" (click)="jumpIn.emit()">Jump In</button>
    </div>
</div>