.landingpage-card {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 48rem;
    padding: 2rem;
    border: 1.5px solid var(--border-base);
    border-radius: 2rem;
    text-align: center;
    background-color: var(--col-backdrop);

    .title {
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 3rem;
        color: var(--text-primary);
        text-wrap: balance;
        letter-spacing: -0.75px;
    }

    span {
        font-size: 1rem;
        line-height: 1.5rem;
        text-wrap: balance;
    }
}

.cta-buttons {
    display: flex;
    gap: 1.25rem;
}