<div class="landingpage-wrapper">
    <app-header />
    @if (currentScreen === 'start') {
    <app-start-screen (getStarted)="showSignup()" (jumpIn)="showLogin()" />
    }
    @if (currentScreen === 'signup') {
    <app-signup />
    }
    @if (currentScreen === 'login') {
    <app-login />
    }
    <footer>
        <div class="footer-inner">
            <a routerLink="legal-notice" class="footer-link">Legal Notice</a>
            <a routerLink="privacy-policy" class="footer-link">Privacy Policy</a>
        </div>
    </footer>
</div>