.landingpage-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100dvh;
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 4rem;
    padding: 0 1.25rem;
    font-size: 0.875rem;
    background: linear-gradient(0deg, var(--bg-base-200), transparent);
}

.footer-inner {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 90rem;
    margin: 0 auto;
    padding: 0 1.25rem;
}

.footer-link {
    color: var(--text-muted);
    text-decoration: none;
    transition: color 200ms ease-in-out;
}

.footer-link:hover {
    color: var(--text-primary);
}


app-start-screen,
app-signup,
app-login {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.25rem;
}