.landingpage-wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 100dvh;
}

.dot-pattern {
    pointer-events: none;
    position: fixed;
    z-index: 0;
    inset: 0;
    width: 100vw;
    height: 100dvh;
    background-image: radial-gradient(var(--bg-base-300) 1.25px, transparent 1.25px);
    background-size: 1.25rem 1.25rem;
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 4rem;
    font-size: 0.875rem;
    background: linear-gradient(0deg, var(--bg-base-200), transparent);
}

.footer-inner {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 90rem;
    height: 4rem;
    margin: 0 auto;
    padding: 0 1.25rem;
}

.footer-link {
    color: var(--text-muted);
    text-decoration: none;
    transition: color 200ms ease-in-out;
}

.footer-link:hover {
    color: var(--text-primary);
}

app-start-screen,
app-signup,
app-login {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 90rem;
    padding: 1.25rem;
}