.modal-wrapper {
    position: fixed;
    z-index: 25;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 1rem;
    background: rgb(0 0 0 / 10%);
    backdrop-filter: blur(4px);
}

.modal-content {
    position: relative;
    z-index: 100;
    overflow: auto;
    width: 100%;
    max-width: 48rem;
    max-height: calc(100vh - 2rem);
    margin: 0;
    padding: 1.25rem;
    border: 1.5px solid var(--text-placeholder);
    border-radius: 1.5rem;
    background-color: var(--bg-base-000);

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}