<app-header />
<section class="article-wrapper">
    <header class="article-header">
        <h2 class="article-title">Legal Notice</h2>
        <span class="article-text">
            Legal Disclosure Information in accordance with § 5 of the German Telemedia Act (DDG): This legal notice
            provides essential information in accordance with § 5 DDG regarding the website and its content. Please read
            the following terms carefully.
        </span>
    </header>
    <div class="article-links">
        <div class="divider"></div>
        <a routerLink="/privacy-policy" class="article-link">
            Privacy Policy
            <i-lucide [img]="ArrowUpRight" class="lucide-icon"></i-lucide>
        </a>
    </div>
    <div class="article-item">
        <h3 class="article-subtitle">Contact Information</h3>
        <div class="contact-section">
            <div class="contact-item">
                <i-lucide [img]="IdCard" [strokeWidth]="1.5" class="lucide-icon"></i-lucide>
                <span class="contact-text">Name</span>
            </div>
            <div class="contact-item">
                <i-lucide [img]="Tag" [strokeWidth]="1.5" class="lucide-icon"></i-lucide>
                <span class="contact-text">c/o IP-Management</span>
            </div>
            <div class="contact-item">
                <i-lucide [img]="Building2" [strokeWidth]="1.5" class="lucide-icon"></i-lucide>
                <span class="contact-text">Street</span>
            </div>
            <div class="contact-item">
                <i-lucide [img]="MapPinned" [strokeWidth]="1.5" class="lucide-icon"></i-lucide>
                <span class="contact-text">City</span>
            </div>
            <div class="contact-item">
                <i-lucide [img]="Globe" [strokeWidth]="1.5" class="lucide-icon"></i-lucide>
                <span class="contact-text">Country</span>
            </div>
            <div class="contact-item">
                <i-lucide [img]="Mail" [strokeWidth]="1.5" class="lucide-icon"></i-lucide>
                <a href="mailto:">Email</a>
            </div>
        </div>
    </div>
    <div class="article-item">
        <h3 class="article-subtitle">Disclaimer</h3>
        <span class="article-text">
            Accountability for Content: The content of this website has been created with great care. However, no
            guarantee is provided regarding its accuracy, completeness, or timeliness. As per § 7 Para. 1 of the German
            Telemedia Act (DDG), service providers are responsible for their own content on this website. However, §§
            8-10 DDG state that service providers are not obligated to monitor third-party information or investigate
            potential illegal activity. Liability is only possible from the moment a specific legal violation becomes
            known. Upon notification of such violations, the content will be removed promptly.
        </span>
    </div>
    <div class="article-item">
        <h3 class="article-subtitle">Accountability for Links</h3>
        <span class="article-text">
            This website may include links to external third-party websites over which we have no control. Therefore, we
            assume no liability for such content. Responsibility lies solely with the respective provider or operator.
            Linked pages were checked for legal violations at the time of linking, and no illegal content was
            identified. Continuous monitoring of linked pages without concrete evidence of violations is unreasonable.
            Upon notification of any legal violations, such links will be removed promptly.
        </span>
    </div>
    <div class="article-item">
        <h3 class="article-subtitle">Copyright</h3>
        <span class="article-text">
            The content and works created on this website are subject to German copyright law. Reproduction, editing,
            distribution, and any use beyond the limits of copyright require the written consent of the respective
            author or creator. Downloads and copies of this website are permitted only for private, non-commercial use.
            Where the content on this website was not created by the operator, third-party copyrights are respected.
        </span>
    </div>
    <div class="article-item">
        <h3 class="article-subtitle">Sources and Attributions</h3>
        <span class="article-text">
            <span class="article-text">
                This website uses external content from third-party sources, including but not limited to:
            </span>
            <ul>
                <li><a href="https://vercel.com/font" target="_blank" rel="noopener noreferrer">Geist Font</a></li>
                <li><a href="https://lucide.dev/" target="_blank" rel="noopener noreferrer">Lucide Icons</a></li>
            </ul>
            <span class="article-text">
                All external content is used in compliance with copyright and licensing terms. If you have any concerns
                regarding third-party content on this website, please reach out. Upon notification of any legal
                violations, such content will be removed immediately.
            </span>
        </span>
    </div>
</section>