<header>
    <div class="header-inner">
        <a routerLink="/workspace" class="logo-link lg-hidden">
            <img src="assets/img/zplit-logo.svg" class="logo" alt="Zplit Logo">
            <span class="logo-text">Zplit</span>
        </a>
        <div class="toolbar-menu">
            <button class="btn btn-neutral" (click)="openNewZplitModal()">
                <i-lucide [img]="Plus" class="lucide-icon"></i-lucide>
                Zplit
            </button>
            <button class="btn btn-square btn-ghost lg-hidden" (click)="toggleSidebar()">
                <i-lucide [img]="Menu" class="lucide-icon"></i-lucide>
            </button>
        </div>
    </div>
</header>
