<div class="sidebar-wrapper">
    <header>
        <div class="header-inner">
            <a routerLink="/workspace" class="logo-link">
                <img src="assets/img/zplit-logo.svg" class="logo" alt="Zplit Logo">
                <span class="logo-text">Zplit</span>
            </a>
        </div>
    </header>
    <div class="sidebar-content">
        <nav>
            <p>sidebar works!</p>
        </nav>
        <section class="user-menu">
            <div class="profile-img"></div>
            <div class="user-info">
                <p>{{ username }}</p>
                <p>{{ email }}</p>
            </div>
        </section>
    </div>
</div>