.sidebar-wrapper {
    will-change: transform;
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
    width: 18rem;
    height: 100dvh;
    background-color: var(--bg-base-000);
    transition: transform 200ms ease-in-out;
}

.sidebar-wrapper.open,
:host(.open) .sidebar-wrapper {
    transform: translateX(0);
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 4rem;
}

.header-inner {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 90rem;
    height: 4rem;
    margin: 0 auto;
    padding: 0 1rem;
}

.logo-link {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    text-decoration: none;
}

.logo-link:hover {
    cursor: pointer;
}

.logo-link .logo {
    width: 1.75rem;
    height: 1.75rem;
}

.logo-link .logo-text {
    font-size: 2rem;
    font-weight: 500;
    color: var(--text-primary);
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 1rem;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 1rem 0;
}

.sidebar-item {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    width: 100%;
    padding: 0.75rem 1rem;
    border-radius: 0.75rem;
    font-weight: 400;
    color: var(--text-secondary);
    text-decoration: none;
    transition: background-color 125ms ease, color 125ms ease;

    >.lucide-icon ::ng-deep svg{
            width: 1.25rem;
            height: 1.25rem;
            stroke-width: 1.75;
        }

    &:hover {
        cursor: pointer;
        color: var(--text-primary);
        background-color: var(--bg-base-200);
    }
}

.sidebar-item.active {
    color: var(--text-primary);
    background-color: var(--col-neutral);
}

.user-menu {
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    border-radius: 1rem;

    &:hover {
        cursor: pointer;
        background-color: var(--bg-base-200);
    }
}

.profile-img {
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 0.75rem;
    background-color: var(--col-neutral);
}

.user-name {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--text-primary);
}
.user-email {
    font-size: 0.75rem;
    font-weight: 300;
    color: var(--text-secondary);
}

@media (width >=1024px) {
    .sidebar-wrapper {
        position: relative;
        z-index: auto;
        height: 100dvh;
        transition: none;
    }

    :host(.open) .sidebar-wrapper {
        transform: translateX(0);
    }
}