.sidebar-wrapper {
    will-change: transform;
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 20rem;
    height: 100dvh;
    padding: 0 1rem;
    background-color: var(--bg-base-200);
    transition: transform 200ms ease-in-out;
}

.sidebar-wrapper.open,
:host(.open) .sidebar-wrapper {
    transform: translateX(0);
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 4rem;
    background: linear-gradient(180deg, var(--bg-base-200), transparent);
}

.header-inner {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 90rem;
    margin: 0 auto;
}

.logo-link {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    text-decoration: none;
}

.logo-link:hover {
    cursor: pointer;
}

.logo-link .logo {
    width: 1.75rem;
    height: 1.75rem;
}

.logo-link .logo-text {
    font-size: 2rem;
    font-weight: 500;
    color: var(--text-primary);
}

@media (width >= 1024px) {
    .sidebar-wrapper {
        position: relative;
        z-index: auto;
        height: 100dvh;
        transition: none;
    }

    :host(.open) .sidebar-wrapper {
        transform: translateX(0);
    }
}