@use "./styles/variables";
@use "./styles/typography";
@use "./styles/buttons";
@use "./styles/inputs";
@use "./styles/scrollbar";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Geist, sans-serif;
}

::selection {
    background-color: var(--col-primary);
}

html {
    scroll-behavior: smooth;
    overflow-y: auto;
    overscroll-behavior: none;
    background-color: var(--bg-base-200);
}

@media (hover: none) and (pointer: coarse) {
    html {
        overscroll-behavior: auto;
    }
}

body {
    text-rendering: optimizelegibility;
    background-color: var(--bg-base-200);
}

app-root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 100dvh;
    font-family: Geist, sans-serif;
    color: var(--text-secondary);
    background-color: var(--bg-base-200);
}

app-header {
    position: sticky !important;
    top: 0;
    left: 0;
    width: 100%;
}

app-landing-page,
app-legal-notice,
app-privacy-policy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

app-workspace {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-height: 100dvh;
    background-color: var(--bg-base-000);
}

app-empty-state {
    display: flex;
    flex-grow: 1;
    width: 100%;
    padding: 1rem;
}

.lucide-icon {
    display: inline-flex;
    align-items: center;
}